
<div class="col-md-5">
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %>
<% end 
end %>
 <%= flash[:success] %>
<form action="users" method="post" class ="form-group">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p>First Name: <input class = "form-control" name="user[first_name]"></p>
	Last Name: <input class = "form-control" name="user[last_name]">
	Email: <input class = "form-control" name="user[email]">
	Location: <input class = "form-control" name="user[location]" placeholder="City">
	State: <select class = "form-control" name="user[state]">
				<option value="WA">WA</option>
				<option value="AR">AR</option>
				<option value="CA">CA</option>
		   </select>
	Password:   ****Password should be at least 8 characters <input class="form-control" name="user[password]" type="password">
	<p>Confirm PW: <input class="form-control" name="user[confirm_password]" type="password"></p>
	<input class="btn btn-default" type="submit" value="Register">
</form>
</div>

<div class="col-md-5">
	<form action="/sessions" method="post" class ="form-group">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Email: <input class = "form-control" name="email">
	<p>Password: <input class="form-control" name="password" type="password"></p>
	<input class="btn btn-default" type="submit" value="Login">
</form>
<%= flash[:error]%>
</div>
