<h3>Welcome, <%= @user.first_name%></h3>
<a href="/users/<%=session[:user_id]%>">Edit My Profile</a>
<a href="/session/destroy">Logout</a>
<div class="row">
	<div class="col-md-8">
		<h4>Here are some of the events in your state:</h4>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Location</th>
				<th>Host</th>
				<th>Action/Status</th>
			</tr>	
			<% @events.each do |e| %>
			<% if e.state == @user.state %>
			<tr>
				<td><%= e.name %></td>
				<td><%= e.date %></td>
				<td><%= e.location %></td>
				<td><%= e.user.first_name %></td>

				<td><a href="">Join</a>  |  </td>
			</tr>
			<% end
			end %>
		</table>

		<h4>Here are some of the events in other states:</h4>
		<table class = "table">
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Location</th>
				<th>State</th>
				<th>Host</th>
				<th>Action</th>
			</tr>
			<% @events.each do |e| %>
			<% if e.state != @user.state %>
			<tr>
				<td><%= e.name %></td>
				<td><%= e.date %></td>
				<td><%= e.location %></td>
				<td><%= e.state %></td>
				<td><%= e.user.first_name %></td>
				<td><a href="">Join</a></td>	
			</tr>
			<% end
			end %>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Add Event</h3>
		<form class="form-horizontal" action="/events" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<p>Name: <input class = "form-control" type="text" name="event[name]"></p>
			<p>Date: <input type="date" name="event[date]"></p>
			<p>Location: <input class = "form-control" type="text" name="event[location]"></p>
			<p>State: <select class = "form-control" name="event[state]">
						<option value="WA">WA</option>
						<option value="AR">AR</option>
						<option value="CA">CA</option>
				   </select></p>
				  <p> <input class = "btn" type="submit" value="Add Event"></p>
		</form>
	</div>
</div>


